<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Cricket
    <small>Oneday Match</small>
  </h1>
</section>

<!-- Main content -->
	<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="table_title" colspan="5">Live Match</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                      <td width="20%" class="div_time">{{now | date:short}}</td>
                      <td width="20%" class="div_title">Australia vs England</td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_1_1_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Australia</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_1_2_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Draw</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_1_3_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">England</div></a>
                      </td>
                    </tr>
                    <tr>
                      <td width="20%" class="div_time">{{now | date:short}}</td>
                      <td width="20%" class="div_title">New Zealand vs Ireland</td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_2_1_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">New Zealand</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_2_2_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Draw</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_2_3_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Ireland</div></a>
                      </td>
                    </tr>
                    <tr>
                      <td width="20%" class="div_time">{{now | date:short}}</td>
                      <td width="20%" class="div_title">Bangladesh vs Sri Lanka</td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_3_1_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Bangladesh</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_3_2_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Draw</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_3_3_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Sri Lanka</div></a>
                      </td>
                    </tr>
                    <tr>
                      <td width="20%" class="div_time">{{now | date:short}}</td>
                      <td width="20%" class="div_title">India vs Afghanistan</td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_4_1_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">India</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_4_2_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Draw</div></a>
                      </td>
                      <td width="20%">
                      		<a href="javascript:void(0);"><div class="div_bid value">{{dashboardData.match_4_3_value}}</div></a>
                      		<a href="javascript:void(0);"><div class="div_bid lable">Afghanistan</div></a>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
<!-- /.content -->
</div>