<aside class="main-sidebar" *ngIf="leftSide.visible">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Sports</li>
        <li class="treeview_main 1">
          <a href="javascript:void(0);" (click)="toggleLeftMenu('1');">
            <i class="fa"></i><span>Cricket</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu 1">
            <li><a href="javascript:void(0);">Test Match</a></li>
            <li><a href="javascript:void(0);">Oneday Match</a></li>
          </ul>
        </li>
        <li class="treeview_main 2">
          <a href="javascript:void(0);" (click)="toggleLeftMenu('2');">
            <i class="fa"></i>
            <span>Soccer</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu 2">
            <li><a href="javascript:void(0);">Soccer Match</a></li>
          </ul>
        </li>
        <li class="treeview_main 3">
          <a href="javascript:void(0);" (click)="toggleLeftMenu('3');">
            <i class="fa"></i>
            <span>Tennis</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu 3">
            <li><a href="javascript:void(0);">Tournament</a></li>
            <li><a href="javascript:void(0);">Oneday</a></li>
          </ul>
        </li>
        <li class="treeview_main 4">
          <a href="javascript:void(0);" (click)="toggleLeftMenu('4');">
            <i class="fa"></i> <span>Horse Racing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu 4">
            <li><a href="javascript:void(0);">Jumps racing</a></li>
            <li><a href="javascript:void(0);">Flat racing</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>